/* Copyright 2020-2024 ETH Zurich and the DaCe-VSCode authors.
 * All rights reserved. */

.sdfv {
  .attr-table-base-container {
    .attr-table {
      border: 1px solid var(--vscode-list-inactiveSelectionBackground);
      padding-left: 0;
      padding-right: 0;

      .sdfv-property-input {
        width: 100%;
      }

      .popup-editable-property-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
      }

      .sdfv-dict-value-container {
        pre.code {
          code {
            overflow: auto;
            max-height: 15rem;
            word-break: break-all;
            word-wrap: break-word;
          }
        }
      }
    }
  }
}
