/* Copyright 2020-2022 ETH Zurich and the DaCe-VSCode authors.
 * All rights reserved. */

body {
  display: flex;
  flex-direction: column;
  background-color: inherit;
  color: var(--vscode-foreground);
}

.modal-backdrop {
  z-index: 1040 !important;
}

.modal-content {
  z-index: 1100 !important;
  background-color: var(--vscode-editor-background);
  color: var(--vscode-foreground);
}

.clickable {
  cursor: pointer;
}

#contents {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border: none;
  resize: none;
}

#minimap {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 100px;
  height: 200px;
  border: 1px solid black;
}

.button {
  color: var(--vscode-button-foreground);
  background-color: var(--vscode-button-background);
}

.button:hover {
  background-color: var(--vscode-button-hoverBackground);
}

button.close {
  color: var(--vscode-foreground);
  text-shadow: none;
}

.btn-sdfv {
  border-color: var(--vscode-button-background);
  color: var(--vscode-button-foreground);
  background-color: var(--vscode-button-background);
}

.btn-sdfv:hover {
  color: var(--vscode-button-foreground);
  border-color: var(--vscode-button-background);
  background-color: var(--vscode-button-hoverBackground);
}

.btn-sdfv.show {
  color: var(--vscode-button-foreground);
  border-color: var(--vscode-button-background);
  background-color: var(--vscode-button-hoverBackground);
}

.btn-primary {
  border-color: var(--vscode-button-background);
  color: var(--vscode-button-foreground);
  background-color: var(--vscode-button-background);
}

.btn-primary:hover {
  background-color: var(--vscode-button-hoverBackground);
}

pre.code {
  float: left;
}

#top-bar {
  border-bottom: 1px solid var(--vscode-scrollbarSlider-background);
}

.button span .material-icons {
  font-size: 1rem;
}

/* View splitter */

.gutter {
  background-color: var(--vscode-scrollbarSlider-background);
  background-repeat: no-repeat;
  background-position: 50%;
  user-select: none;
}

.gutter.gutter-vertical {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
  cursor: col-resize;
  position: absolute;
  left: 0;
  height: 100%;
  width: 12px;
}

.gutter.gutter-horizontal {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=');
  cursor: row-resize;
  position: absolute;
  top: 0;
  width: 100%;
  height: 12px;
}

/* End view splitter */

/* Top bar */

#top-bar {
  display: flex;
  flex-direction: row;
  font-size: .9rem;
}

#top-bar #search-bar-wrapper {
  height: 100%;
}

#top-bar #search-bar-wrapper #search-bar {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#top-bar #search-bar #search {
  padding: .3rem .1rem;
  margin-right: .2rem;
  background-color: var(--vscode-input-background);
  color: var(--vscode-input-foreground);
  border: 1px solid var(--vscode-input-placeholderForeground);
}

#top-bar #search-bar #search::placeholder {
  color: var(--vscode-input-placeholderForeground);
}

#search-case-sensitive-btn {
  height: 1.3rem;
  width: 1.3rem;
  margin-left: -1.6rem;
  margin-top: 0.2rem;
  padding: -0.3rem 1rem;
  border-radius: 0;
  user-select: none;
  outline: 0 none;
}

#search-case-text {
  margin-left: -0.2rem;
  color: var(--vscode-input-placeholderForeground);
}

#top-bar #button-bar-wrapper {
  flex-grow: 1;
}

#top-bar #button-bar {
  margin: .5rem 0;
  display: flex;
  flex-direction: row;
}

#button-bar .button {
  margin: 0 .1rem;
  user-select: none;
}

#button-bar .spacer {
  width: .6rem;
  height: 100%;
  display: block;
  background-color: transparent;
  color: transparent;
  user-select: none;
}

#button-bar #breakpoint-btn {
  margin-left: auto;
}

/* End top bar */

/* Processing overlay */

#processing-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(61, 61, 61, 0.8);
  z-index: 3;

  /* Center the content */
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes spin {

  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }

}

#processing-overlay-spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#processing-overlay-spinner {
  border: .5rem solid #ccc;
  border-top: .5rem solid #aaa;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  animation: spin 2s linear infinite;
}

#processing-overlay-msg-container {
  margin-top: .5rem;
}

#processing-overlay-msg {
  font-weight: lighter;
  font-size: 2rem;
  user-select: none;
}

/* End processing overlay */

/* Info container/box */

#info-container {
  overflow-y: scroll;
  background-color: var(--vscode-editor-background);
  color: var(--vscode-editor-foreground);
  min-width: 50px;
  min-height: 50px;
}

#info-header {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  padding-bottom: .5rem;
  padding-left: 1rem;
}

#info-header > .btn-close {
  color: var(--vscode-button-foreground);
}

#title-btns-container {
  margin-top: .2rem;
  display: flex;
  flex-direction: row;
}

#info-title {
  text-overflow: clip;
  overflow: hidden;
}

.flex-spacer {
  flex-grow: 1;
}

#goto-source-btn,
#goto-cpp-btn {
  font-size: .9rem;
  margin-right: .2rem;
}

#layout-toggle-btn,
#info-close-btn {
  cursor: pointer;
  font-size: .9rem;
  margin: .2rem;
}

#layout-toggle-btn span,
#info-close-btn span {
  display: block;
  height: 100%;
}

#layout-toggle-btn .material-icons,
#info-close-btn .material-icons {
  display: inline-flex;
  vertical-align: middle;
}

#info-header-btn-container {
  display: flex;
  flex-direction: row;
}

#layout-toggle-btn.vertical span .material-icons {
  transform: rotate(90deg);
}

#expand-info-btn {
  cursor: pointer;
  position: absolute;
  margin: .4rem;
}

#expand-info-btn.expand-info-btn-top {
  top: 0;
  right: 0;
}

#expand-info-btn.expand-info-btn-bottom {
  bottom: 0;
  right: 0;
}

#info-contents {
  width: 100%;
  margin-bottom: 1rem;
  padding-left: 1rem;
}

#info-contents .info-subtitle {
  font-size: 1rem;
}

#info-contents .material-icons {
  display: inline-flex;
  vertical-align: middle;
}

.attr-cat-toggle-btn {
  width: 100%;
  text-align: left;
  background-color: var(--vscode-list-inactiveSelectionBackground);
  color: var(--vscode-list-inactiveSelectionForeground);
  padding: .3rem;
  margin: 0;
  border: 1px solid var(--vscode-list-inactiveSelectionBackground);
}

.attr-cat-toggle-btn:hover {
  background-color: var(--vscode-list-hoverBackground);
  color: var(--vscode-list-hoverForeground);
}

.attr-cat-toggle-btn>.attr-cat-toggle-btn-indicator {
  float: right;
  transition: all .5s;
}

.attr-cat-toggle-btn.active>.attr-cat-toggle-btn-indicator {
  transform: rotate(180deg);
}

.attr-table {
  border: 1px solid var(--vscode-list-inactiveSelectionBackground);
  padding-left: 0;
  padding-right: 0;
}

.attr-table-cat-container {
  padding: 0;
}

.attr-table-row {
  padding: .5rem 0;
  border-bottom: 1px solid var(--vscode-list-inactiveSelectionBackground);
  margin-left: 0;
  margin-right: 0;
}

.attr-table-cell {
  text-align: left;
  display: flex;
  align-items: center;
  overflow: hidden;
  padding-left: 0;
  flex: 0 0 auto;
}

.attr-row-prefix-cell {
  padding-left: .5rem;
}

.attr-table-cell.col-12 {
  margin-bottom: .5rem;
}

.attr-cell-s {
  width: 25%;
}

.attr-cell-l {
  width: 75%;
}

#info-container.stacked .attr-cell-s {
  width: 100%;
  margin-bottom: .5rem;
}

#info-container.stacked .attr-cell-l {
  width: 100%;
  margin-bottom: .5rem;
}

.attr-table-cell-nopad {
  padding-left: 0;
}

.attr-table-heading {
  font-weight: bold;
}

.popup-editable-property-container {
  width: 100%;
  display: flex;
  align-items: center;
}

.property-add-row-btn {
  font-size: 2rem;
  cursor: pointer;
}

.property-edit-btn {
  margin-left: .8rem;
  cursor: pointer;
}

.property-key-input {
  width: 100%;
}

.property-edit-modal-body {
  padding: 0;
}

.range-input-label {
  user-select: none;
}

.range-input {
  width: 100%;
}

.form-check.form-switch>label::before {
  cursor: pointer;
}

.form-check.form-switch>label::after {
  cursor: pointer;
}

/* End info container/box */

/* Context menu */

#contextmenu {
  background-color: var(--vscode-editor-background);
}

.context_menu_option {
  margin: .2rem 0 -.2rem;
  background-color: var(--vscode-editor-background);
}

.context_menu_option:hover {
  background-color: var(--vscode-inputOption-activeBackground);
}

/* End context menu */

/* SDFV Toolbar */

#sdfv-toolbar {
  position: absolute;
  top: .5rem;
  left: .5rem;
}

#sdfv-toolbar .sdfv-toolbar-button {
  padding-bottom: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}

/* End SDFV Toolbar */

#info-contents .transformation-button-container {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-items: left;
  width: 100%;
}

#info-contents .transformation-button-container .button {
  margin-right: .3rem;
}

#info-contents .transformation-info-container {
  margin-top: .3rem;
  border-top: 1px solid var(--vscode-list-hoverBackground);
  padding-top: .3rem;
  font-size: 1rem;
}

#info-contents .transformation-info-container .transformation-image {
  max-width: 100%;
}

.sdfv-property-code {
  resize: none;
  margin-right: .5rem;
}

.sdfv-property-text,
.sdfv-property-code,
.sdfv-property-number {
  border-width: 1px;
  border-style: solid;
  background-color: var(--vscode-input-background);
  color: var(--vscode-input-foreground);
  border-color: var(--vscode-input-border);
}

.sdfv-property-dropdown {
  background-color: var(--vscode-dropdown-background);
  color: var(--vscode-dropdown-foreground);
  border-color: var(--vscode-dropdown-border);
}

.sdfv-property-expand-libnode-btn {
  margin-left: 1rem;
}

.sdfv-property-delete-btn {
  color: var(--vscode-inputValidation-errorBorder);
  margin-right: .5rem;
  user-select: none;
}

.sdfv-property-delete-btn:hover {
  cursor: pointer;
}

.sdfv-property-range-delete-cell {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.sdfv-property-code-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  flex-basis: auto;
  width: 100%;
}

.sdfv-property-monaco {
  flex-grow: 1;
  height: 6rem;
  margin-right: .8rem;
  min-width: 0;
  border: 1px solid;
  border-bottom: 1px solid;
  border-color: var(--vscode-input-border);
}

.es-list {
  background-color: var(--vscode-input-background);
  color: var(--vscode-input-foreground);
}

.context-menu {
  position: absolute;
  z-index: 10;
  display: block;
  background-color: var(--vscode-dropdown-background);
  color: var(--vscode-dropdown-foreground);
  border-color: var(--vscode-dropdown-border);
  border-width: 1px;
}

.context-menu-items {
  list-style: none;
  margin: 0;
  padding: 0;
}

.context-menu-item {
  user-select: none;
  padding: .5rem;
  display: block;
  margin-bottom: .2rem;
  background-color: var(--vscode-list-background);
  color: var(--vscode-list-foreground);
}

.context-menu-item:last-child {
  margin-bottom: 0;
}

.context-menu-item:hover {
  background-color: var(--vscode-list-hoverBackground);
  color: var(--vscode-list-hoverForeground);
}

.context-menu-separator {
  user-select: none;
  display: block;
  height: 1px;
  width: 100%;
  background-color: var(--vscode-dropdown-foreground);
  margin-top: .5rem;
  margin-bottom: .5rem;
}

#minimap-close-button {
  position: absolute;
  top: .5rem;
  right: .5rem;
  cursor: pointer;
  user-select: none;
  color: black;
}
