/* Copyright 2020-2024 ETH Zurich and the DaCe-VSCode authors.
 * All rights reserved. */

@import "bootstrap_color_overrides";
@import "attributes_table";

body.sdfv {
  display: flex;
  flex-direction: column;
  background-color: inherit;
  color: var(--vscode-foreground);
  padding: 0;
}

.sdfv {
  .modal-backdrop {
    z-index: 1040 !important;
  }

  .modal-content {
    z-index: 1100 !important;
    background-color: var(--vscode-editor-background);
    color: var(--vscode-foreground);
  }

  .clickable {
    cursor: pointer;
  }

  #contents {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border: none;
    resize: none;
  }

  #minimap {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 100px;
    height: 200px;
    border: 1px solid black;
  }

  pre.code {
    float: left;
  }

  /* View splitter */

  .gutter {
    background-color: var(--vscode-scrollbarSlider-background);
    background-repeat: no-repeat;
    background-position: 50%;
    user-select: none;
  }

  .gutter.gutter-vertical {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
    cursor: col-resize;
    position: absolute;
    left: 0;
    height: 100%;
    width: 12px;
  }

  .gutter.gutter-horizontal {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=');
    cursor: row-resize;
    position: absolute;
    top: 0;
    width: 100%;
    height: 12px;
  }

  /* End view splitter */

  .toolbar {
    border-top: 1px solid var(--vscode-scrollbarSlider-background);
    border-bottom: 1px solid var(--vscode-scrollbarSlider-background);

    .toolbar-category {
      padding-left: calc(var(--bs-gutter-x) * 0.5);
      padding-right: calc(var(--bs-gutter-x) * 0.5);
      padding-top: .4rem;
      padding-bottom: .4rem;
      border-right: 1px solid var(--vscode-scrollbarSlider-background);

      div {
        max-width: fit-content;
      }

    }

    .toolbar-category:last-child {
      border-right: none;
    }

  }

  /* Processing overlay */

  #processing-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(61, 61, 61, 0.8);
    z-index: 3;

    /* Center the content */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @keyframes spin {

    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }

  }

  #processing-overlay-spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #processing-overlay-spinner {
    border: .5rem solid #ccc;
    border-top: .5rem solid #aaa;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    animation: spin 2s linear infinite;
  }

  #processing-overlay-msg-container {
    margin-top: .5rem;
  }

  #processing-overlay-msg {
    font-weight: lighter;
    font-size: 2rem;
    user-select: none;
  }

  /* End processing overlay */

  /* Info container/box */

  #info-container {
    z-index: 1030 !important; /* Needs to be below z-index of modal backdrop */
    overflow-y: scroll;
    background-color: var(--vscode-editor-background);
    color: var(--vscode-editor-foreground);
    min-width: 50px;
    min-height: 50px;
  }

  #info-header {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    padding-bottom: .5rem;
    padding-left: 1rem;
    width: 100%;
  }

  #info-title-container {
    flex-grow: 1;
  }

  #info-header > .btn-close {
    color: var(--vscode-button-foreground);
  }

  #title-btns-container,
  #edge-btns-container {
    margin-top: .2rem;
    display: flex;
    flex-direction: row;
  }

  #info-title {
    text-overflow: clip;
    overflow: hidden;
  }

  .flex-spacer {
    flex-grow: 1;
  }

  #title-btns-container > .button,
  #edge-btns-container > .button {
    font-size: .9rem;
    margin-right: .2rem;
  }

  #layout-toggle-btn,
  #info-close-btn {
    cursor: pointer;
    font-size: .9rem;
    margin: .2rem;
  }

  #layout-toggle-btn span,
  #info-close-btn span {
    display: block;
    height: 100%;
  }

  #layout-toggle-btn .material-symbols-outlined,
  #info-close-btn .material-symbols-outlined {
    display: inline-flex;
    vertical-align: middle;
  }

  #info-header-btn-container {
    display: flex;
    flex-direction: row;
  }

  #layout-toggle-btn.vertical span .material-symbols-outlined {
    transform: rotate(90deg);
  }

  #expand-info-btn {
    cursor: pointer;
    margin: .4rem;
  }

  #info-contents {
    width: 100%;
    margin-bottom: 1rem;
    padding-left: 1rem;
  }

  #info-contents .info-subtitle {
    font-size: 1rem;
  }

  #info-contents .material-symbols-outlined {
    display: inline-flex;
    vertical-align: middle;
  }

  .attr-cat-toggle-btn {
    width: 100%;
    text-align: left;
    background-color: var(--vscode-list-inactiveSelectionBackground);
    color: var(--vscode-list-inactiveSelectionForeground);
    padding: .3rem;
    margin: 0;
    border: 1px solid var(--vscode-list-inactiveSelectionBackground);
  }

  .attr-cat-toggle-btn:hover {
    background-color: var(--vscode-list-hoverBackground);
    color: var(--vscode-list-hoverForeground);
  }

  .attr-cat-toggle-btn>.attr-cat-toggle-btn-indicator {
    float: right;
    transition: all .5s;
    transform: rotate(90deg);
  }

  .attr-cat-toggle-btn.active>.attr-cat-toggle-btn-indicator {
    transform: rotate(180deg);
  }

  .attr-table-cat-container {
    padding: 0;
  }

  .attr-row-prefix-cell {
    height: 100%;
    padding: .5rem;
  }

  .attr-table-cell.col-12 {
    margin-bottom: .5rem;
  }

  .attr-changed-bar {
    width: 2px;
    height: 100%;
    background-color: var(--vscode-settings-modifiedItemIndicator);
  }

  #info-container.stacked .attr-cell-s {
    width: 100%;
    margin-bottom: .5rem;
  }

  #info-container.stacked .attr-cell-l {
    width: 100%;
    margin-bottom: .5rem;
  }

  .attr-table-cell-nopad {
    padding-left: 0;
  }

  .attr-table-heading {
    font-weight: bold;
  }

  .property-add-row-btn {
    font-size: 2rem;
    cursor: pointer;
  }

  .property-edit-btn {
    user-select: none;
    margin-left: .8rem;
    cursor: pointer;
  }

  .property-key-input {
    width: 100%;
  }

  .property-edit-modal-body {
    padding: 0;
  }

  .range-input-label {
    user-select: none;
  }

  .range-input {
    width: 100%;
  }

  .form-check.form-switch>label::before {
    cursor: pointer;
  }

  .form-check.form-switch>label::after {
    cursor: pointer;
  }

  /* End info container/box */

  /* Context menu */

  .context_menu_option {
    margin: .2rem 0 -.2rem;
    background-color: var(--vscode-editor-background);
  }

  .context_menu_option:hover {
    background-color: var(--vscode-inputOption-activeBackground);
  }

  /* End context menu */

  #info-contents .transformation-button-container {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-items: left;
    width: 100%;
  }

  #info-contents .transformation-button-container .button {
    margin-right: .3rem;
  }

  #info-contents .transformation-info-container {
    margin-top: .3rem;
    border-top: 1px solid var(--vscode-list-hoverBackground);
    padding-top: .3rem;
    font-size: 1rem;
  }

  #info-contents .transformation-info-container .transformation-image {
    max-width: 100%;
  }

  .sdfv-property-code {
    resize: none;
    margin-right: .5rem;
  }

  .sdfv-property-text,
  .sdfv-property-code,
  .sdfv-property-number {
    border-width: 1px;
    border-style: solid;
    background-color: var(--vscode-input-background);
    color: var(--vscode-input-foreground);
    border-color: var(--vscode-input-border);
  }

  .sdfv-property-dropdown {
    background-color: var(--vscode-dropdown-background);
    color: var(--vscode-dropdown-foreground);
    border-color: var(--vscode-dropdown-border);

    &.es-input {
      width: 100%;
    }
  }

  .sdfv-property-expand-libnode-btn {
    margin-left: 1rem;
  }

  .sdfv-property-delete-btn {
    color: var(--vscode-inputValidation-errorBorder);
    user-select: none;
  }

  .sdfv-property-delete-btn:hover {
    cursor: pointer;
  }

  .sdfv-property-range-delete-cell {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .sdfv-property-code-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    flex-basis: auto;
    width: 100%;
  }

  .sdfv-property-monaco {
    flex-grow: 1;
    height: 6rem;
    margin-right: .8rem;
    min-width: 0;
    border: 1px solid;
    border-bottom: 1px solid;
    border-color: var(--vscode-input-border);
  }

  .es-list {
    background-color: var(--vscode-input-background);
    color: var(--vscode-input-foreground);
    padding-left: 0;
  }

  .context-menu {
    position: absolute;
    z-index: 10;
    display: block;
    background-color: var(--vscode-dropdown-background);
    color: var(--vscode-dropdown-foreground);
    border-color: var(--vscode-dropdown-border);
    border-width: 1px;
  }

  .context-menu-items {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .context-menu-item {
    user-select: none;
    padding: .5rem;
    display: block;
    margin-bottom: .2rem;
    background-color: var(--vscode-list-background);
    color: var(--vscode-list-foreground);
  }

  .context-menu-item:last-child {
    margin-bottom: 0;
  }

  .context-menu-item:hover {
    background-color: var(--vscode-list-hoverBackground);
    color: var(--vscode-list-hoverForeground);
  }

  .context-menu-separator {
    user-select: none;
    display: block;
    height: 1px;
    width: 100%;
    background-color: var(--vscode-dropdown-foreground);
    margin-top: .5rem;
    margin-bottom: .5rem;
  }

  #minimap-close-button {
    position: absolute;
    top: .5rem;
    right: .5rem;
    cursor: pointer;
    user-select: none;
    color: black;
  }
}
