**/.vscode/
**/__pycache__/
.vscode-test/
out/
src/
**/.gitignore
.github/
.gitmodules
tslint.json
**/*.code-workspace
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
node_modules/
scripts/
packages/
images/
