.github
.vscode
.vscode-test
out/
node_modules
src/
.gitignore
.gitmodules
webpack.config.js
tslint.json
*.code-workspace
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
