<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SDFG Outline</title>
    <link rel="stylesheet" type="text/css"
          href="{{ CSP_SRC }}/webclient/external_lib/material/material-icons.css">
    <link rel="stylesheet" type="text/css"
          href="{{ CSP_SRC }}/components/outline/outline.css">

    <script>
        // Reference to the VSCode API.
        let vscode = undefined;
    </script>

    <script src="{{ CSP_SRC }}/webclient/external_lib/jquery.min.js"></script>
    <script src="{{ CSP_SRC }}/components/outline/outline.js"></script>
</head>

<body>
    <div id="contents">
    </div>

    <script>
        vscode = acquireVsCodeApi();

        // Add a listener to receive messages from the extension.
        window.addEventListener('message', e => {
            const message = e.data;
            switch (message.type) {
                case 'set_outline':
                    // Update the outline.
                    $('#contents').html(message.html);

                    // Set the correct click listeners to handle zooming in to
                    // elements.
                    $('div[sdfg_uuid]').each((index, element) => {
                        element.addEventListener('click', (e) => {
                            if (vscode)
                                vscode.postMessage({
                                    type: 'sdfv.zoom_to_node',
                                    uuid: element.getAttribute('sdfg_uuid'),
                                });

                            // Make sure the event doesn't also get fired on
                            // the parent element.
                            e.stopPropagation();
                        })
                    });
                    break;
                case 'clear_outline':
                    $('#contents').html('');
                    break;
                default:
                    break;
            }
            });

        $(document).ready(() => {
            if (vscode)
                vscode.postMessage({
                    type: 'sdfv.refresh_outline',
                });
        });
    </script>
</body>

</html>
