<!-- Copyright 2020-2021 ETH Zurich and the DaCe-VSCode authors. -->
<!-- All rights reserved. -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SDFG Outline</title>
    <link rel="stylesheet" type="text/css"
          href="{{ CSP_SRC }}/webclient/external_lib/material/material-icons.css">
    <link rel="stylesheet" type="text/css"
          href="{{ CSP_SRC }}/lib/bootstrap5/bootstrap.min.css">
    <link rel="stylesheet" type="text/css"
          href="{{ CSP_SRC }}/elements/treeview/treeview.css">
    <link rel="stylesheet" type="text/css"
          href="{{ CSP_SRC }}/components/outline/outline.css">

    <script>
        // Reference to the VSCode API.
        let vscode = undefined;

        const csp_src = "{{ CSP_SRC }}";
    </script>

    <script src="{{ CSP_SRC }}/webclient/external_lib/jquery.min.js"></script>
    <script src="{{ CSP_SRC }}/lib/bootstrap5/bootstrap.bundle.min.js"></script>
    <script src="{{ CSP_SRC }}/elements/treeview/treeview.js"></script>
    <script src="{{ CSP_SRC }}/components/outline/outline.js"></script>
</head>

<body>
    <div id="contents" class="container-fluid">
        <div class="row">
            <div id="outline-list" class="hidden">
            </div>
        </div>
    </div>

    <script>
        vscode = acquireVsCodeApi();

        const outline_list = new OutlineList($('#outline-list'));
        outline_list.generate_html();
        outline_list.show();

        function set_outline_list_recursive(list, parent) {
            for (const item of list) {
                const outline_item = new OutlineItem(
                    item['icon'],
                    item['type'],
                    item['label'],
                    item['collapsed'],
                    item['uuid']
                );

                if (item['children'] !== undefined && item['children'].length)
                    set_outline_list_recursive(item['children'], outline_item);

                parent.add_item(outline_item);
            }
        }

        // Add a listener to receive messages from the extension.
        window.addEventListener('message', e => {
            const message = e.data;
            switch (message.type) {
                case 'set_outline':
                    if (message.outline_list !== undefined) {
                        outline_list.clear();
                        set_outline_list_recursive(
                            message.outline_list,
                            outline_list
                        );
                        outline_list.notify_data_changed();
                    }
                    break;
                case 'clear_outline':
                    if (message.reason !== undefined)
                        outline_list.clear(message.reason);
                    else
                        outline_list.clear();
                    break;
                default:
                    break;
            }
        });

        $(document).ready(() => {
            if (vscode)
                vscode.postMessage({
                    type: 'sdfv.refresh_outline',
                });
        });
    </script>
</body>

</html>
