/* Copyright 2020-2021 ETH Zurich and the DaCe-VSCode authors.
 * All rights reserved. */

html {
    height: 100%;
    padding: 0;
}

body {
    height: 100%;
    margin: 0;
    padding: .3rem .5rem;
    font-family: "Segeo UI", Arial, sans-serif;
    color: var(--vscode-foreground);
    background-color: inherit;
}

.hidden {
    display: none;
}

#contents {
    padding-top: .3rem;
}

#outline-list {
    width: 100%;
}

.tree-view-list {
    width: 100%;
}

.tree-view-item.hover {
    cursor: pointer;
    background-color: var(--vscode-list-hoverBackground);
}