<!-- Copyright 2020-2021 ETH Zurich and the DaCe-VSCode authors. -->
<!-- All rights reserved. -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SDFG Viewer</title>
    <link rel="stylesheet" type="text/css" href="{{ CSP_SRC }}/lib/bootstrap5/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ CSP_SRC }}/webclient/external_lib/material/material-icons.css">
    <link rel="stylesheet" type="text/css" href="{{ CSP_SRC }}/webclient/sdfv.css">
    <link rel="stylesheet" type="text/css" href="{{ CSP_SRC }}/components/sdfv/sdfv_overrides.css">

    <script>
        // Reference to the VSCode API.
        let vscode = undefined;

        let message_handler = undefined;

        const csp_src = "{{ CSP_SRC }}";
    </script>

    <script src="{{ CSP_SRC }}/webclient/external_lib/jquery.min.js"></script>
    <script src="{{ CSP_SRC }}/webclient/external_lib/pdfkit.standalone.js"></script>
    <script src="{{ CSP_SRC }}/webclient/external_lib/blob-stream.js"></script>
    <script src="{{ CSP_SRC }}/webclient/external_lib/canvas2pdf.js"></script>
    <script src="{{ CSP_SRC }}/webclient/renderer_dir/global_vars.js"></script>
    <script src="{{ CSP_SRC }}/lib/split.min.js"></script>
    <script src="{{ CSP_SRC }}/lib/bootstrap5/bootstrap.bundle.min.js"></script>

</head>

<body onresize="rendererSendResize();">
    <div id="top-bar">
        <div id="search-bar">
            <div id="search-container">
                <input id="search" type="text" placeholder="Search the graph">
            </div>
            <div id="search-case-container">
                <label for="search-case">
                    <input id="search-case" type="checkbox">
                    Case Sensitive
                </label>
            </div>
            <div id="search-btn" class="button">
                <span>
                    Search
                </span>
            </div>
            <div id="refresh-btn" class="button" onclick="refreshSdfg();">
                <span>
                    Refresh SDFG
                </span>
            </div>
        </div>
    </div>

    <div id="split-container" class="split-container-vertical">
        <div id="contents">
            <div id="processing-overlay">
                <div id="processing-overlay-box">
                    <div id="processing-overlay-spinner-container">
                        <div id="processing-overlay-spinner">
                        </div>
                    </div>
                    <div id="processing-overlay-msg-container">
                        <span id="processing-overlay-msg">
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div id="info-container">
            <div id="info-header">
                <div id="info-title-container">
                    <h5 id="info-title"></h5>
                </div>
                <div id="goto-source-btn" class="hidden button">
                    <span>
                        Go to source
                    </span>
                </div>
                <div class="flex-spacer"></div>
                <div id="info-clear-btn" class="hidden button" onclick="clear_info_box();">
                    <span>
                        Clear Info &times;
                    </span>
                </div>
                <div class="clearfix"></div>
            </div>
            <div id="info-contents"></div>
        </div>
    </div>

    <script>
        var sdfg_json = '';
        var transformations = [[], [], [], []];
    </script>
    <script src="{{ CSP_SRC }}/webclient/dist/sdfv.js"></script>
    <script src="{{ CSP_SRC }}/components/sdfv/sdfv_overrides.js"></script>
    <script src="{{ CSP_SRC }}/components/sdfv/vscode_sdfv.js"></script>

    <script src="{{ CSP_SRC }}/components/sdfv/util/helpers.js"></script>
    <script src="{{ CSP_SRC }}/components/sdfv/messaging/message_handler.js"></script>
    <script src="{{ CSP_SRC }}/components/sdfv/analysis/analysis.js"></script>
    <script src="{{ CSP_SRC }}/components/sdfv/properties/properties.js"></script>
    <script src="{{ CSP_SRC }}/components/sdfv/transformation/transformation.js"></script>

    <!-- Load in the monaco editor. -->
    <script>
        var require = { paths: { 'vs': '{{ CSP_SRC }}/lib/vs' } };
    </script>
    <script src="{{ CSP_SRC }}/lib/vs/loader.js"></script>
    <script src="{{ CSP_SRC }}/lib/vs/editor/editor.main.nls.js"></script>
    <script src="{{ CSP_SRC }}/lib/vs/editor/editor.main.js"></script>
    <script>
        window.MonacoEnvironment = { getWorkerUrl: () => proxy };

        let proxy = URL.createObjectURL(new Blob([`
            self.MonacoEnvironment = {
                baseUrl: '{{ CSP_SRC }}/lib/vs'
            };
            importScripts('{{ CSP_SRC }}/lib/vs/base/worker/workerMain.js');
        `], { type: 'text/javascript' }));

        require(["vs/editor/editor.main"], function () {
            window.monaco = monaco;
        });
    </script>

    <script>
        vscode = acquireVsCodeApi();
        message_handler = new MessageHandler();
        var debug_draw = false;

        function setRendererContent(sdfg, previewing = false,
                                    prevent_refreshes = false) {
            parsed_sdfg = daceParseSDFG(sdfg);

            if (daceRenderer)
                daceRenderer.set_sdfg(parsed_sdfg);
            else
                daceInitSDFV(parsed_sdfg, null, debug_draw);

            if (!previewing) {
                sdfg_json = sdfg;
                if (!prevent_refreshes)
                    get_applicable_transformations();
            }

            embedded_outline(daceRenderer, daceRenderer.graph);
            refresh_analysis_pane();

            if (daceRenderer) {
                if (daceRenderer.selected_elements &&
                    daceRenderer.selected_elements.length === 1)
                    reselect_renderer_element(
                        daceRenderer.selected_elements[0]
                    );
                else if ((!daceRenderer.selected_elements) ||
                         daceRenderer.selected_elements.length === 0)
                    fill_info_embedded(
                        new SDFG(daceRenderer.sdfg)
                    );
            }
        }

        function resetRendererContent() {
            let user_transform = null;
            if (daceRenderer) {
                user_transform = daceRenderer.canvas_manager.user_transform;
                daceRenderer.destroy();
            }
            daceInitSDFV(daceParseSDFG(sdfg_json), user_transform, debug_draw);
            embedded_outline(daceRenderer, daceRenderer.graph);
            refresh_analysis_pane();
        }

        function refreshSdfg() {
            if (vscode)
                vscode.postMessage({
                    type: 'sdfv.get_current_sdfg',
                });
        }

        // Add a listener to update the content when the extension calls for it.
        window.addEventListener('message', e => {
            message_handler.handle_message(e.data);
        });

        // Send a request to the extension to jump to a specific source code
        // file and location, if it exists.
        function gotoSource(filePath, startRow, startChar, endRow, endChar) {
            vscode.postMessage({
                type: 'sdfv.go_to_source',
                file_path: filePath,
                startRow: startRow,
                startChar: startChar,
                endRow: endRow,
                endChar: endChar,
            });
        }

        // Resize the canvas correctly if the renderer exists. This gets
        // called whenever the body's size changes.
        function rendererSendResize() {
            if (daceRenderer) {
                daceRenderer.onresize();
                daceRenderer.draw_async();
            }
        }

        Split(['#contents', '#info-container'], {
            sizes: [60, 40],
            minSize: [0, 0],
            snapOffset: 10,
            direction: 'vertical',
        });

        $(document).ready(() => {
            $('#processing-overlay').hide();
            vscode.postMessage({
                type: 'sdfv.get_current_sdfg',
            });
            vscode.postMessage({
                type: 'dace.get_enum',
                name: 'InstrumentationType',
            });
        });
    </script>
</body>

</html>
