<!-- Copyright 2020-2022 ETH Zurich and the DaCe-VSCode authors. -->
<!-- All rights reserved. -->

<!DOCTYPE html>
<html lang="en" class="sdfv">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SDFG Viewer</title>

    <script>
        // Reference to the VSCode API.
        let vscode = undefined;
        let SPLIT_DIRECTION = 'vertical';
    </script>

    <script src="{{ SCRIPT_SRC }}/pdfkit.standalone.js"></script>
    <script src="{{ SCRIPT_SRC }}/blob-stream.js"></script>
    <script src="{{ SCRIPT_SRC }}/canvas2pdf.js"></script>
</head>

<body style="display: none;" class="sdfv">
    <div id="top-bar">
        <div id="search-bar-wrapper">
            <div id="search-bar" class="container">
                <div id="search-container">
                    <input id="search" type="text" placeholder="Search the graph">
                </div>
                <button id="search-case-sensitive-btn" checked="false" title="Case sensitive"
                    style="background-color: transparent; cursor: pointer;">
                    <div id="search-case-text">Aa</div>
                </button>
            </div>
        </div>
        <div id="button-bar-wrapper">
            <div id="button-bar">
                <div class="spacer"></div>
                <div id="pan-btn" class="button" title="Pan mode">
                    <em class="material-icons">pan_tool</em>
                </div>
                <div id="move-btn" class="button" title="Move mode">
                    <em class="material-icons">open_with</em>
                </div>
                <div id="select-btn" class="button" title="Select mode">
                    <svg width="1.3rem" height="1.3rem" viewBox="0 0 800 800" stroke="white" version="1.1"
                        xmlns="http://www.w3.org/2000/svg">
                        <rect x="100" y="100" width="500" height="500" fill="transparent" stroke-width="50" />
                        <path d="M620 620 L800 620 L740 680 L840 780 L780 840 L680 740 L620 800 Z" fill="white" />
                    </svg>
                </div>
                <div class="spacer"></div>
                <div id="elem_access_node" class="button" title="Add access node" type="AccessNode">
                    <svg width="1.3rem" height="1.3rem" viewBox="0 0 200 200" stroke="white" stroke-width="10"
                        version="1.1" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="100" cy="100" r="90" fill="none" />
                    </svg>
                </div>
                <div class="spacer"></div>
                <div id="elem_map" class="button" title="Add map" type="MapEntry">
                    <svg width="5.2rem" height="1.3rem" viewBox="0 0 800 200" stroke="white" stroke-width="10"
                        version="1.1" xmlns="http://www.w3.org/2000/svg">
                        <line x1="10" x2="190" y1="190" y2="10" />
                        <line x1="190" x2="600" y1="10" y2="10" />
                        <line x1="600" x2="790" y1="10" y2="190" />
                        <line x1="790" x2="10" y1="190" y2="190" />
                    </svg>
                </div>
                <div id="elem_consume" class="button" title="Add consume" type="ConsumeEntry">
                    <svg width="5.2rem" height="1.3rem" viewBox="0 0 800 200" stroke="white" stroke-width="10"
                        stroke-dasharray="60,25" version="1.1" xmlns="http://www.w3.org/2000/svg">
                        <line x1="10" x2="190" y1="190" y2="10" />
                        <line x1="190" x2="600" y1="10" y2="10" />
                        <line x1="600" x2="790" y1="10" y2="190" />
                        <line x1="790" x2="10" y1="190" y2="190" />
                    </svg>
                </div>
                <div class="spacer"></div>
                <div id="elem_tasklet" class="button" title="Add tasklet" type="Tasklet">
                    <svg width="2.6rem" height="1.3rem" viewBox="0 0 400 200" stroke="white" stroke-width="10"
                        version="1.1" xmlns="http://www.w3.org/2000/svg">
                        <line x1="10" x2="70" y1="130" y2="190" />
                        <line x1="70" x2="330" y1="190" y2="190" />
                        <line x1="330" x2="390" y1="190" y2="130" />
                        <line x1="390" x2="390" y1="130" y2="70" />
                        <line x1="390" x2="330" y1="70" y2="10" />
                        <line x1="330" x2="70" y1="10" y2="10" />
                        <line x1="70" x2="10" y1="10" y2="70" />
                        <line x1="10" x2="10" y1="70" y2="130" />
                    </svg>
                </div>
                <div id="elem_nested_sdfg" class="button" title="Add nested SDFG" type="NestedSDFG">
                    <svg width="2.6rem" height="1.3rem" viewBox="0 0 400 200" stroke="white" stroke-width="10"
                        version="1.1" xmlns="http://www.w3.org/2000/svg">
                        <line x1="40" x2="80" y1="120" y2="160" />
                        <line x1="80" x2="320" y1="160" y2="160" />
                        <line x1="320" x2="360" y1="160" y2="120" />
                        <line x1="360" x2="360" y1="120" y2="80" />
                        <line x1="360" x2="320" y1="80" y2="40" />
                        <line x1="320" x2="80" y1="40" y2="40" />
                        <line x1="80" x2="40" y1="40" y2="80" />
                        <line x1="40" x2="40" y1="80" y2="120" />

                        <line x1="10" x2="70" y1="130" y2="190" />
                        <line x1="70" x2="330" y1="190" y2="190" />
                        <line x1="330" x2="390" y1="190" y2="130" />
                        <line x1="390" x2="390" y1="130" y2="70" />
                        <line x1="390" x2="330" y1="70" y2="10" />
                        <line x1="330" x2="70" y1="10" y2="10" />
                        <line x1="70" x2="10" y1="10" y2="70" />
                        <line x1="10" x2="10" y1="70" y2="130" />
                    </svg>
                </div>
                <div id="elem_libnode" class="button" title="Add library node" type="LibraryNode">
                    <svg width="2.6rem" height="1.3rem" viewBox="0 0 400 200" stroke="white" stroke-width="10"
                        version="1.1" xmlns="http://www.w3.org/2000/svg">
                        <line x1="10" x2="10" y1="10" y2="190" />
                        <line x1="10" x2="390" y1="190" y2="190" />
                        <line x1="390" x2="390" y1="190" y2="55" />
                        <line x1="390" x2="345" y1="55" y2="10" />
                        <line x1="345" x2="10" y1="10" y2="10" />
                        <line x1="345" x2="345" y1="10" y2="55" />
                        <line x1="345" x2="390" y1="55" y2="55" />
                    </svg>
                </div>
                <div class="spacer"></div>
                <div id="elem_state" class="button" title="Add state" type="SDFGState">
                    <svg width="1.3rem" height="1.3rem" viewBox="0 0 200 200" stroke="white" stroke-width="10"
                        version="1.1" xmlns="http://www.w3.org/2000/svg">
                        <rect x="20" y="20" width="160" height="160" style="fill:#deebf7;" />
                    </svg>
                </div>
                <div class="spacer"></div>
                <div id="elem_edge" class="button" title="Add edge" type="Edge">
                    <svg width="1.3rem" height="1.3rem" viewBox="0 0 200 200" stroke="white" stroke-width="10"
                        version="1.1" xmlns="http://www.w3.org/2000/svg">
                        <defs>
                            <marker id="arrowhead" markerWidth="10" markerHeight="7" refX="0" refY="3.5" orient="auto">
                                <polygon points="0 0, 10 3.5, 0 7" />
                            </marker>
                        </defs>
                        <line x1="20" y1="20" x2="180" y2="180" marker-end="url(#arrowhead)" />
                    </svg>
                </div>
                <div id="breakpoint-btn" class="button text-nowrap">
                    <span id="display-bps">
                        Display Breakpoints
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div id="contents">
        <div id="processing-overlay">
            <div id="processing-overlay-box">
                <div id="processing-overlay-spinner-container">
                    <div id="processing-overlay-spinner">
                    </div>
                </div>
                <div id="processing-overlay-msg-container">
                    <span id="processing-overlay-msg">
                    </span>
                </div>
            </div>
        </div>
        <div id="expand-info-btn" title="Expand Tray">
            <span><i class="material-symbols-outlined">right_panel_open</i></span>
        </div>
    </div>

    <div class="offcanvas offcanvas-end"
         tabindex="-1" id="info-container"
         data-bs-scroll="true"
         data-bs-backdrop="false"
         aria-labelledby="info-title">
        <div class="offcanvas-header" id="info-header">
            <div id="info-title-container">
                <h5 class="offcanvas-title" id="info-title"></h5>
                <div id="title-btns-container">
                    <div class="button" id="goto-source-btn"
                         style="display: none;">
                        <span>Go to Source</span>
                    </div>
                    <div class="button" id="goto-cpp-btn"
                         style="display: none;">
                        <span>Go to Generated Code</span>
                    </div>
                </div>
                <div id="edge-btns-container">
                    <div class="button" id="goto-edge-start"
                         style="display: none;">
                        <span>Jump to Start</span>
                    </div>
                    <div class="button" id="goto-edge-end"
                         style="display: none;">
                        <span>Jump to End</span>
                    </div>
                </div>
            </div>
            <div id="info-header-btn-container">
                <div id="layout-toggle-btn" class="vertical"
                     title="Toggle Layout">
                    <span><i class="material-icons">splitscreen</i></span>
                </div>
                <div id="info-close-btn" title="Close Tray">
                    <span><i class="material-icons">cancel</i></span>
                </div>
            </div>
        </div>
        <div class="offcanvas-body" id="info-contents">
        </div>
        <div class="gutter gutter-vertical" id="info-drag-bar"></div>
    </div>

    <script src="{{ SCRIPT_SRC }}/sdfv.js"></script>

    <script>
        vscode = acquireVsCodeApi();
    </script>
</body>

</html>
