/* Copyright 2020-2021 ETH Zurich and the DaCe-VSCode authors.
 * All rights reserved. */

body {
  display: flex;
  flex-direction: column;
  background-color: inherit;
  color: var(--vscode-foreground);
}

.modal-backdrop {
  z-index: 1040 !important;
}

.modal-content {
  z-index: 1100 !important;
  background-color: var(--vscode-editor-background);
  color: var(--vscode-foreground);
}

.clickable {
  cursor: pointer;
}

#contents {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border: none;
  resize: none;
}

.button {
  color: var(--vscode-button-foreground);
  background-color: var(--vscode-button-background);
}

.button:hover {
  background-color: var(--vscode-button-hoverBackground);
}

button.close {
  color: var(--vscode-foreground);
  text-shadow: none;
}

.btn-primary {
  border-color: var(--vscode-button-background);
  color: var(--vscode-button-foreground);
  background-color: var(--vscode-button-background);
}

.btn-primary:hover {
  background-color: var(--vscode-button-hoverBackground);
}

pre.code {
  float: left;
}

#top-bar {
  border-bottom: 1px solid var(--vscode-scrollbarSlider-background);
}

.button span .material-icons {
  font-size: 1rem;
}

/* View splitter */

#split-container {
  height: 100%;
  width: 100%;
  display: block;
  position: relative;
  overflow: hidden;
}

.gutter {
  background-color: var(--vscode-scrollbarSlider-background);
  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter.gutter-vertical {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=');
  cursor: row-resize;
}

.gutter.gutter-horizontal {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
  cursor: col-resize;
}

/* End view splitter */

/* Search bar */

#search-bar {
  margin: .5rem 0;
  display: flex;
  flex-direction: row;
  font-size: .9rem;
}

#search-bar #search {
  padding: .2rem .1rem;
  margin-right: .2rem;
  background-color: var(--vscode-input-background);
  color: var(--vscode-input-foreground);
  border: 1px solid var(--vscode-input-placeholderForeground);
}

#search-bar #search::placeholder {
  color: var(--vscode-input-placeholderForeground);
}

#search-bar #search-case-container {
  height: 100%;
  vertical-align: middle;
}

#search-bar #search-case {
  height: 1.3rem;
  width: 1.3rem;
  vertical-align: middle;
  background-color: var(--vscode-checkbox-background);
  color: var(--vscode-checkbox-foreground);
  border-color: var(--vscode-checkbox-border);
}

#search-bar #search-btn {
  margin: 0 .5rem;
}

#search-bar .button {
  margin-left: .3rem;
}

#search-bar #run-btn {
  margin-left: auto;
}

/* End search bar */

/* Processing overlay */

#processing-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(61, 61, 61, 0.8);
  z-index: 3;

  /* Center the content */
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes spin {

  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }

}

#processing-overlay-spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#processing-overlay-spinner {
  border: .5rem solid #ccc;
  border-top: .5rem solid #aaa;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  animation: spin 2s linear infinite;
}

#processing-overlay-msg-container {
  margin-top: .5rem;
}

#processing-overlay-msg {
  font-weight: lighter;
  font-size: 2rem;
  user-select: none;
}

/* End processing overlay */

/* Info container/box */

#info-container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.split-container-vertical > #info-container {
  padding-top: .5rem;
}

.split-container-horizontal > #info-container {
  padding-left: .5rem;
  padding-right: .5rem;
}

#info-header {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.flex-spacer {
  flex-grow: 1;
}

#goto-source-btn {
  font-size: .9rem;
  margin: .2rem 1rem;
}

#info-clear-btn {
  font-size: .9rem;
  margin: .2rem 1rem;
}

#info-clear-btn span {
  display: block;
  height: 100%;
}

#info-clear-btn .material-icons {
  display: inline-flex;
  vertical-align: middle;
}

#info-contents {
  width: 100%;
  margin-bottom: 1rem;
}

#info-contents .info-subtitle {
  font-size: 1rem;
}

#info-contents .material-icons {
  display: inline-flex;
  vertical-align: middle;
}

.attr-cat-toggle-btn {
  width: 100%;
  text-align: left;
  background-color: var(--vscode-list-inactiveSelectionBackground);
  color: var(--vscode-list-inactiveSelectionForeground);
  padding: .3rem;
  border: 1px solid var(--vscode-list-inactiveSelectionBackground);
}

.attr-cat-toggle-btn:hover {
  background-color: var(--vscode-list-hoverBackground);
  color: var(--vscode-list-hoverForeground);
}

.attr-cat-toggle-btn > .attr-cat-toggle-btn-indicator {
  float: right;
  transition: all .5s;
}

.attr-cat-toggle-btn.active > .attr-cat-toggle-btn-indicator {
  transform: rotate(180deg);
}

.attr-table {
  border: 1px solid var(--vscode-list-inactiveSelectionBackground);
  padding-left: 0;
  padding-right: 0;
}

.attr-table-cat-container {
  padding: 0;
}

.attr-table-row {
  padding: .5rem 0;
  border-bottom: 1px solid var(--vscode-list-inactiveSelectionBackground);
  margin-left: 0;
  margin-right: 0;
}

.attr-table-cell {
  text-align: left;
  display: flex;
  align-items: center;
}

.attr-table-cell-nopad {
  padding-left: 0;
}

.attr-table-heading {
  font-weight: bold;
}

.popup-editable-property-container {
  width: 100%;
  display: flex;
  align-items: center;
}

.property-add-row-btn {
  font-size: 2rem;
  cursor: pointer;
}

.property-edit-btn {
  margin-left: .8rem;
  cursor: pointer;
}

.property-key-input {
  width: 100%;
}

.property-edit-modal-body {
  padding: 0;
}

.range-input-label {
  user-select: none;
}

.range-input {
  width: 100%;
}

.form-check.form-switch > label::before {
  cursor: pointer;
}

.form-check.form-switch > label::after {
  cursor: pointer;
}

/* End info container/box */

/* Context menu */

#contextmenu {
  background-color: var(--vscode-editor-background);
}

.context_menu_option {
  margin: .2rem 0 -.2rem;
  background-color: var(--vscode-editor-background);
}

.context_menu_option:hover {
  background-color: var(--vscode-inputOption-activeBackground);
}

/* End context menu */

/* SDFV Toolbar */

#sdfv-toolbar {
  position: absolute;
  top: .5rem;
  left: .5rem;
}

#sdfv-toolbar .sdfv-toolbar-button {
  padding-bottom: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}

/* End SDFV Toolbar */

#info-contents .transformation-button-container {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-items: left;
  width: 100%;
}

#info-contents .transformation-button-container .button {
  margin-right: .3rem;
}

#info-contents .transformation-info-container {
  margin-top: .3rem;
  border-top: 1px solid var(--vscode-list-hoverBackground);
  padding-top: .3rem;
  font-size: 1rem;
}

#info-contents .transformation-info-container .transformation-image {
  max-width: 100%;
}

.sdfv-property-code {
  resize: none;
}

.sdfv-property-expand-libnode-btn {
  margin-left: 1rem;
}

.sdfv-property-delete-btn {
  color: var(--vscode-inputValidation-errorBorder);
  margin-right: .5rem;
  user-select: none;
}

.sdfv-property-delete-btn:hover {
  cursor: pointer;
}

.sdfv-property-range-delete-cell {
  display: flex;
  flex-direction: row;
  align-items: center;
}