<!-- Copyright 2020-2021 ETH Zurich and the DaCe-VSCode authors. -->
<!-- All rights reserved. -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Transformation List</title>
    <link rel="stylesheet" type="text/css"
          href="{{ CSP_SRC }}/webclient/external_lib/material/material-icons.css">
    <link rel="stylesheet" type="text/css"
          href="{{ CSP_SRC }}/lib/bootstrap5/bootstrap.min.css">
    <link rel="stylesheet" type="text/css"
          href="{{ CSP_SRC }}/elements/treeview/treeview.css">
    <link rel="stylesheet" type="text/css"
          href="{{ CSP_SRC }}/components/transformation_history/transformation_history.css">

    <script>
        // Reference to the VSCode API.
        let vscode = undefined;

        const csp_src = "{{ CSP_SRC }}";
    </script>

    <script src="{{ CSP_SRC }}/webclient/external_lib/jquery.min.js"></script>
    <script src="{{ CSP_SRC }}/lib/bootstrap5/bootstrap.bundle.min.js"></script>
    <script src="{{ CSP_SRC }}/elements/treeview/treeview.js"></script>
    <script src="{{ CSP_SRC }}/components/transformation_history/transformation_history.js"></script>
</head>

<body>
    <div id="contents" class="container-fluid">
        <div class="row">
            <div id="transformation-list" class="hidden">
            </div>
        </div>
    </div>

    <script>
        vscode = acquireVsCodeApi();

        const transformation_list = new TransformationHistoryList(
            $('#transformation-list')
        );
        transformation_list.generate_html();
        transformation_list.show();

        // Add a listener to receive messages from the extension.
        window.addEventListener('message', e => {
            const message = e.data;
            switch (message.type) {
                case 'set_history':
                    transformation_list.parse_history(
                        message.history,
                        message.active_index
                    );
                    break;
                case 'clear_history':
                    if (message.reason !== undefined)
                        transformation_list.clear(message.reason);
                    else
                        transformation_list.clear();
                    break;
                default:
                    break;
            }
        });

        $(document).ready(() => {
            if (vscode)
                vscode.postMessage({
                    type: 'transformation_history.refresh',
                });
        });
    </script>
</body>

</html>

