/* Copyright 2020-2022 ETH Zurich and the DaCe-VSCode authors.
 * All rights reserved. */

html {
    height: 100%;
    padding: 0;
}

body {
    height: 100%;
    margin: 0;
    padding: .3rem .5rem;
    font-family: "Segeo UI", Arial, sans-serif;
    color: var(--vscode-foreground);
    background-color: inherit;
}

.hidden {
    display: none;
}

#content {
    padding-top: .3rem;
}

#transformation-loading-indicator {
    font-size: .8rem;
    position: fixed;
    top: 0;
    right: 0;
    padding-right: .3rem;
    user-select: none;
}

#transformation-loading-indicator > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
}

@keyframes spin {

    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }

}

#transformation-loading-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1rem;
    height: 1rem;
}

#transformation-loading-spinner > div {
    border: .2rem solid var(--vscode-descriptionForeground);
    border-top: .2rem solid var(--vscode-foreground);
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    animation: spin .5s linear infinite;
}

#transformation-list {
    width: 100%;
}

.transformation-category,
.transformation {
    width: 100%;
}

.transformation-category.hover,
.transformation.hover {
    cursor: pointer;
    background-color: var(--vscode-list-hoverBackground);
}

.transformation-category,
.transformation {
    padding-left: .2rem;
    padding-right: .2rem;
}

.transformation.selected {
    color: var(--vscode-list-activeSelectionForeground) !important;
    background-color: var(--vscode-list-activeSelectionBackground) !important;
}

.transformation.selected .transformation-list-quick-apply {
    color: var(--vscode-list-activeSelectionForeground) !important;
    background-color: var(--vscode-list-activeSelectionBackground) !important;
}

.transformation-group {
    border: 2px solid transparent;
    padding: .2rem;
}

.transformation-group.hover {
    cursor: pointer;
    border-color: var(--vscode-list-hoverBackground) !important;
}

.transformation-group.selected {
    border-color: var(--vscode-list-activeSelectionBackground) !important;
}

.transformation-list-item-label-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.transformation-list-item-label-container > .tree-view-item-label > span,
.transformation-list-item-label-container > .tree-view-item-label {
    overflow: hidden;
    flex-shrink: 1;
    flex-grow: 1;
}

.transformation-list-item-label-container > .tree-view-item-label > span {
    text-overflow: clip;
    white-space: nowrap;
}

.transformation-list-apply-all,
.transformation-list-quick-apply {
    display: none;
    white-space: nowrap;
}

.transformation-list-item-label-container.hover-direct .transformation-list-quick-apply {
    padding-left: .8rem;
    background-color: var(--vscode-list-hoverBackground);
    display: block;
    flex-shrink: 0;
    white-space: nowrap;
    overflow: visible;
}

.transformation-list-item-label-container.hover-direct .transformation-list-apply-all {
    padding-left: .8rem;
    display: block;
    flex-shrink: 0;
    white-space: nowrap;
    overflow: visible;
}
