/* Copyright 2020-2021 ETH Zurich and the DaCe-VSCode authors.
 * All rights reserved. */

html {
    height: 100%;
    padding: 0;
}

body {
    height: 100%;
    margin: 0;
    padding: .3rem .5rem;
    font-family: "Segeo UI", Arial, sans-serif;
    color: var(--vscode-foreground);
    background-color: inherit;
}

.hidden {
    display: none;
}

.btn-primary {
    border-color: var(--vscode-button-background);
    background-color: var(--vscode-button-background);
    color: var(--vscode-button-foreground);
}

.btn-primary:hover {
    border-color: var(--vscode-button-hoverBackground);
    background-color: var(--vscode-button-hoverBackground);
}

.btn-secondary {
    border-color: var(--vscode-button-secondaryBackground);
    background-color: var(--vscode-button-secondaryBackground);
    color: var(--vscode-button-secondaryForeground);
}

.btn-secondary:hover {
    border-color: var(--vscode-button-secondaryHoverBackground);
    background-color: var(--vscode-button-secondaryHoverBackground);
}

#runtime-report-filename-label {
    background-color: var(--vscode-input-background);
    border-color: var(--vscode-input-border);
    color: var(--vscode-input-placeholderForeground);
}

#runtime-report-browse-btn {
    border-radius: 0;
}

#runtime-report-clear-btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#contents > div {
    width: 100%;
}

#overlay-toggles label {
    margin-right: .3rem;
}

#symbol-table {
    width: 100%;
}

#symbol-table .symbol-entry .symbol {
    padding-right: .5rem;
}

button {
    border: none;
}

.symbol {
    font-weight: bold;
}

.symbol-definition-input {
    background-color: var(--vscode-input-background);
    color: var(--vscode-input-foreground);
    max-width: 6rem;
    padding: .3rem;
    border: 1px solid var(--vscode-input-border);
}

.symbol-definition-input::placeholder {
    color: var(--vscode-input-placeholderForeground);
}

.symbol-definition-clear {
    margin: .2rem;
}

.horizontal-divider {
    background-color: var(--vscode-foreground);
    margin-top: .5rem;
    margin-bottom: .5rem;
}

#badness-scale-method-container input {
    background-color: var(--vscode-checkbox-background);
    color: var(--vscode-checkbox-foreground);
    border-color: var(--vscode-checkbox-border);
}

#badness-scale-method-container input:checked {
    background-color: var(--vscode-inputOption-activeBackground);
    color: var(--vscode-inputOption-activeForeground);
    border-color: var(--vscode-inputOption-activeBorder);
}
