<!-- Copyright 2020-2021 ETH Zurich and the DaCe-VSCode authors. -->
<!-- All rights reserved. -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SDFG Analysis</title>

    <script>
        // Reference to the VSCode API.
        let vscode = undefined;
    </script>
</head>

<body>
    <div id="contents-container" class="container-fluid">
        <div id="none-message" class="hidden row">
        </div>
        <div id="contents" class="hidden row">
            <div>
                <div id="badness-scale-method-container">
                    <div>
                        <span>
                            Overlay scaling method:
                        </span>
                    </div>
                    <div>
                        <label>
                            <input type="radio"
                                name="badness-scale-method"
                                value="mean">
                            Mean
                        </label>
                        <label>
                            <input type="radio"
                                name="badness-scale-method"
                                value="median"
                                checked="checked">
                            Median
                        </label>
                    </div>
                </div>
                <hr class="horizontal-divider">
                <div id="overlay-toggle-container">
                    <div>
                        <span>
                            Overlays:
                        </span>
                    </div>
                    <div id="overlay-toggles">
                    </div>
                </div>
                <hr class="horizontal-divider">
                <div id="runtime-measurement">
                    <div>
                        <span>
                            Runtime Measurements:
                        </span>
                    </div>
                    <div>
                        <input type="file" id="runtime-report-file-input"
                               class="hidden">
                        <div class="input-group mb-2">
                            <input type="text" class="form-control"
                                   id="runtime-report-filename-label"
                                   disabled="disabled"
                                   placeholder="Load runtime report"
                                   aria-label="Load runtime report"
                                   aria-describedby="runtime-report-browse-btn">
                            <button class="btn btn-primary"
                                    type="button"
                                    id="runtime-report-browse-btn">
                                Browse
                            </button>
                            <button class="btn btn-secondary"
                                    id="runtime-report-clear-btn"
                                    type="button">
                                Clear
                            </button>
                        </div>
                        <div class="input-group">
                            <label class="input-group-text"
                                    for="runtime-time-criterium-select">
                                Measurement:
                            </label>
                            <select class="form-select"
                                 id="runtime-time-criterium-select">
                                <option
                                    value="min">
                                    Min
                                </option>
                                <option
                                    value="max">
                                    Max
                                </option>
                                <option
                                    value="mean"
                                    selected="selected">
                                    Mean
                                </option>
                                <option
                                    value="med">
                                    Median
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
                <hr class="horizontal-divider">
                <div id="symbol-list">
                    <span>
                        Symbol list:
                    </span>
                    <table id="symbol-table">
                    </table>
                </div>
            </div>
        </div>
    </div>

    <script src="{{ SCRIPT_SRC }}/analysis.js"></script>
    <script>
        vscode = acquireVsCodeApi();
    </script>
</body>

</html>

