/* Copyright 2020-2024 ETH Zurich and the DaCe-VSCode authors.
 * All rights reserved. */

html {
    height: 100%;
    padding: 0;
}

body {
    height: 100%;
    margin: 0;
    padding: .3rem .5rem;
    font-family: "Segeo UI", Arial, sans-serif;
    color: var(--vscode-foreground);
    background-color: inherit;
}

.hidden {
    display: none;
}

#content {
    padding-top: .3rem;
}

#transformation-list {
    width: 100%;
}

.tree-view-item-label {
    flex-grow: 1;
    flex-shrink: 1;
    overflow: hidden;
    white-space: nowrap;
}

.tree-view-item-label-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.transformation-history-apply-button {
    display: none;
}

.transformation-history-current-badge {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: .8rem;
    flex-shrink: 0;
    white-space: nowrap;
    overflow: visible;
}

.tree-view-item.hover .transformation-history-current-badge,
.tree-view-item.hover .transformation-history-apply-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--vscode-list-hoverBackground);
    padding-left: .8rem;
    flex-shrink: 0;
    white-space: nowrap;
    overflow: visible;
}

.tree-view-item.selected .transformation-history-apply-button {
    color: var(--vscode-list-activeSelectionForeground) !important;
    background-color: var(--vscode-list-activeSelectionBackground) !important;
}

.tree-view-item.selected .transformation-history-current-badge {
    color: var(--vscode-list-activeSelectionForeground) !important;
    background-color: var(--vscode-list-activeSelectionBackground) !important;
}

.tree-view-list {
    width: 100%;
}

.tree-view-item.hover {
    cursor: pointer;
    background-color: var(--vscode-list-hoverBackground);
}

.tree-view-item {
    padding-left: .2rem;
    padding-right: .2rem;
}

.tree-view-item.selected {
    color: var(--vscode-list-activeSelectionForeground) !important;
    background-color: var(--vscode-list-activeSelectionBackground) !important;
}

.tree-view-item.disabled {
    color: var(--vscode-titleBar-inactiveForeground) !important;
}