<!-- Copyright 2020-2021 ETH Zurich and the DaCe-VSCode authors. -->
<!-- All rights reserved. -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SDFG Breakpoints</title>
    <link rel="stylesheet" type="text/css" href="{{ CSP_SRC }}/webclient/external_lib/material/material-icons.css">
    <link rel="stylesheet" type="text/css" href="{{ CSP_SRC }}/lib/bootstrap5/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ CSP_SRC }}/components/breakpoints/breakpoints.css">

    <script>
        // Reference to the VSCode API.
        let vscode = undefined;

        let fr = undefined;

        const csp_src = "{{ CSP_SRC }}";
    </script>

    <script src="{{ CSP_SRC }}/webclient/external_lib/jquery.min.js"></script>
    <script src="{{ CSP_SRC }}/lib/bootstrap5/bootstrap.bundle.min.js"></script>
    <script src="{{ CSP_SRC }}/components/breakpoints/breakpoints.js"></script>
</head>

<body>
    <div id="contents-container" class="container-fluid">
        <div id="none-message" class="hidden row">
        </div>
        <div id="contents" class="hidden row">
            <div>
                <div id="breakpoints-toggle-container">
                    <div>
                        <span>
                            Breakpoints:
                        </span>
                    </div>
                    <div id="breakpoints-toggles">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        vscode = acquireVsCodeApi();

        // Add a listener to receive messages from the extension.
        window.addEventListener('message', e => {
            const message = e.data;
            switch (message.type) {
                case 'refresh_breakpoints':
                    const toggle_container = $('#breakpoints-toggles');
                    toggle_container.html('');

                    const breakpoints_toggle = $('<input>', {
                        'type': 'checkbox',
                        'name': 'breakpoints-toggle',
                        'value': 'breakpoints',
                    });
                    if (message.show_breakpoints)
                        breakpoints_toggle.prop('checked', true);

                    const toggle_label = $('<label>', {
                    }).appendTo(toggle_container);

                    toggle_label.append(breakpoints_toggle);
                    toggle_label.append('&nbsp;' + 'Display Breakpoints');


                    $('input[type=checkbox][name=breakpoints-toggle]').change(
                        function () {
                            if (this.checked)
                                vscode.postMessage({
                                    type: 'sdfv.show_breakpoints',
                                });
                            else
                                vscode.postMessage({
                                    type: 'sdfv.hide_breakpoints',
                                });
                        }
                    );

                    $('#none-message').hide();
                    $('#contents').show();
                    break;
                case 'clear':
                    $('#breakpoints-toggles').html('');
                    $('#contents').hide();
                    const none_message = $('#none-message');
                    if (message.reason)
                        none_message.text(message.reason);
                    else
                        none_message.text('No breakpoints');
                    none_message.show();
                    break;
                default:
                    break;
            }
        });

        $(document).ready(() => {
            if (vscode)
                vscode.postMessage({
                    type: 'sdfv.refresh_breakpoints',
                });
        });
    </script>
</body>

</html>