<!-- Copyright 2020-2024 ETH Zurich and the DaCe-VSCode authors. -->
<!-- All rights reserved. -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SDFG Breakpoints</title>

    <script>
        // Reference to the VSCode API.
        let vscode = undefined;
    </script>
</head>

<body>
    <div class="sdfg-debug-container">
        <div id="sdfg-debug-list" class="list"></div>
    </div>

    <script src="{{ SCRIPT_SRC }}/breakpoints.js"></script>
    <script>
        vscode = acquireVsCodeApi();
    </script>
</body>

</html>