<!-- Copyright 2020-2022 ETH Zurich and the DaCe-VSCode authors. -->
<!-- All rights reserved. -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Transformation List</title>

    <script>
        // Reference to the VSCode API.
        let vscode = undefined;
    </script>
</head>

<body>
    <div id="transformation-loading-indicator" style="display: none;">
        <div>
            <div id="transformation-loading-text">
                Loading&nbsp;
            </div>
            <div id="transformation-loading-spinner">
                <div></div>
            </div>
        </div>
    </div>
    <div id="contents" class="container-fluid">
        <div class="row">
            <div id="transformation-list" style="display: none;">
            </div>
        </div>
    </div>

    <script src="{{ SCRIPT_SRC }}/transformations.js"></script>
    <script>
        vscode = acquireVsCodeApi();
    </script>
</body>

</html>

